<style>
.content {
  display: inline-flex;
}

.pokemon-selector {
  width: 60vw;
  border: solid 1px red;
}

.pokemon-team {
  width: 30vw;
  border: solid 1px red;
}

.pokemon-search-bar {
  display: inline-flex;
}
</style>

<main class="main">
  <div class="content">
    <div class="pokemon-selector">
      <h1>Select your pokemon</h1>
        <div class="pokemon-search-bar">
          <button (click)="getPokemonByRandom = true">Get a random pokemon</button>
          <div>
            <h3>Filter by type</h3>
            <input [(ngModel)]="type">
          </div>
          <div>
            <h3>Filter by generation</h3>
            <input [(ngModel)]="generation">
          </div>
          <div>
            <h3>Filter by name or</h3>
            <h3>pokedex number</h3>
            <input [(ngModel)]="nameOrPokedexNumber">
          </div>
        </div>

        <pokemon-list [type] = "type.toLowerCase()" [generation] = "generation" />
        
        <!-- BUG sur le passage de l'input getPokemonByRandom -->
        <pokemon-card [getPokemonByRandom] = "getPokemonByRandom" [nameOrPokedexNumber] = "nameOrPokedexNumber" 
        (pokemonFetched) = "getPokemonByRandom = false"/>
    </div>
    <div class="pokemon-team">
      <h1>Your pokemon team</h1>
    </div>
  
  

  
  </div>
</main>


<router-outlet />
