<div>
    <select [(ngModel)]="selectedMove" (change)="onMoveChange()"
    [ngClass]="{'select-field-empty': selectedMove === '', 'select-field' : selectedMove !== '' }">
        <option value=""> Select a move </option>
        @for (move of availableMovesList; track move) {
            <ng-container *ngIf="selectedMovesList.indexOf(move) === -1">
                <option [value]="move">{{ move }}</option>
            </ng-container>
            <ng-container *ngIf="move === selectedMove">
                <option [value]="move" class="selected-move">{{ move }}</option>
            </ng-container>
        }
    </select>
</div>